@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,400,500,600,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    z-index: 2;
}
body
{
    min-height: 100vh;
}
.navigation
{
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;
    width: 70px;
    /*border-radius: 10px;*/
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: initial;
    border-left: 5px solid #00c3ff;
    background: #101010c9;
    transition: width 0.5s;
    overflow-x: hidden;
}
.navigation.active
{
    width: 300px;
}
.navigation ul
{
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}
.navigation ul li
{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.navigation ul li.active
{
    background: transparent;
}
.navigation ul li b:nth-child(1)
{
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background: transparent;
    display: none;
}
.navigation ul li b:nth-child(1)::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-bottom-right-radius: 20px;
    /*background: #4d5bf9;*/
}
.navigation ul li b:nth-child(2)
{
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: transparent;
    display: none;
}
.navigation ul li b:nth-child(2)::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-top-right-radius: 20px;
    /*background: #4d5bf9;*/
}
.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2)
{
    display: block;
}
.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navigation ul li.active a
{
    color: #00c3ff;
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon
{
    font-size: 1.5em;
}
.navigation ul li a .title
{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}
.toggle
{
    position: fixed;
    top: 20px;
    left: 20px;
    width: 75px;
    height: 50px;
    background: #00c3ff;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    transition: width 0.5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle.active
{
    width: 305px;
    transition: width 0.5s;
    background: #ff0000;
}
.toggle ion-icon
{
    position: absolute;
    color: #fff;
    font-size: 34px;
    display: none;
}
.toggle ion-icon.open,
.toggle.active ion-icon.close
{
    display: block;
}
.toggle ion-icon.close,
.toggle.active ion-icon.open
{
    display: none;
}