body,
html {
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-attachment: fixed;
}
.text-zone
{
    width: 100%;
    position: absolute;
    z-index: 1;
    text-align: center;
    color: #fff;
    font-size: 50px;
    margin-top: 10%;
}
.text-zone .title
{
    padding-left: 5%;
    margin-left: 20%;
    width: 60%;
}
.text-zone .title a
{
    color: #fff;
    text-decoration: none;
}
.text-zone .title a:hover
{
    color: rgb(197, 197, 197);
    transform: 5.2s;
}
.text-zone .article
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
}
.text-zone .article h3
{
    position: relative;
    color: rgb(0, 0, 0);
    align-items: center;
}
.text-zone .article div
{
    position: relative;
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
}
input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.button{
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
} 
.button:hover {
    opacity: 0.8;
}
.aff
{
    color: black;
    margin-top: 2% ;
}
.datalist
{
    width: 100%;
    margin-top: 2%;
    height: auto;
    color: black;
}
.datalist li
{
    border: 3px solid;
    border-color: black;
    border-width:2px;
    cursor: grab;
    list-style: none;
}
.datalist li:hover
{
    background-color: rgb(242, 254, 255);
    transform: scale(1.02);
}
/*a faire réaparaitre a la connexion*/
#navigation
{
    display: none;
}
#toggle
{
    display: none;
}
#dconnexion
{
    display: none;
}
/*affichage des bouttons et des div*/
#dpv
{
    display: none;
}
#ddeco
{
    display: none;
}
#ddoc
{
    display: none;
}
#dhelp
{
    display: none;
}
#bdeco
{
    display: none;
}
#bpv
{
    display: none;
}
#bdoc
{
    display: none;
}
#daffaire
{
    display: none;
}